In [1]:
import numpy as np

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
41678  40781 -0.447381  1.134089  0.534095  ... -0.058317 -0.085094    1.00    0.0
41679  40782  1.133168  0.406826  0.956032  ...  0.010912  0.018509   10.65    0.0
41680  40783 -0.536190  1.355132  0.064049  ... -0.367509 -0.399716    1.00    0.0
41681  40783 -0.498757  0.332449  1.917148  ...  0.380606  0.226502   26.59    0.0
41682  40784 -0.621229 -0.733600       NaN  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41683 entries, 0 to 41682
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    41683 non-null  int64
 1   V1      41683 non-null  float64
 2   V2      41683 non-null  float64
 3   V3      41682 non-null  float64
 4   V4      41682 non-null  float64
 5   V5      41682 non-null  float64
 6   V6      41682 non-null  float64
 7   V7      41682 non-null  float64
 8   V8      41682 non-null  float64
 9   V9      41682 non-null  float64
 10  V10     41682 non-null  float64
 11  V11     41682 non-null  float64
 12  V12     41682 non-null  float64
 13  V13     41682 non-null  float64
 14  V14     41682 non-null  float64
 15  V15     41682 non-null  float64
 16  V16     41682 non-null  float64
 17  V17     41682 non-null  float64
 18  V18     41682 non-null  float64
 19  V19     41682 non-null  float64
 20  V20     41682 non-null  float64
 21  V21     41682 non-null  float64
 22  V22     41682 non-null  float64
 23  V23     41682 non-null  float64
 24  V24     41682 non-null  float64
 25  V25     41682 non-null  float64
 26  V26     41682 non-null  float64
 27  V27     41682 non-null  float64
 28  V28     41682 non-null  float64
 29  Amount  41682 non-null  float64
 30  Class   41682 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.9 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [31]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    41574
1.0      108
Name: Class, dtype: int64

This dataset is highly unbalanced.

0, defines Normal Transaction

1, Defines Fraudulent Transaction

In [32]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(41574, 31)
(108, 31)

In [11]:
# statistical measures of the data
legit.Amount.describe()

count    41574.000000
mean        89.092554
std        237.129967
min          0.000000
25%          7.550000
50%         24.000000
75%         80.000000
max       7879.420000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     108.000000
mean       93.512593
std       250.863273
min         0.000000
25%         1.000000
50%         2.320000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [13]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    26220.447082 -0.203702  0.021029  ...  0.005968  0.004583  89.092554
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874  93.512593

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 500

In [33]:
legit_sample = legit.sample(n=500)

Concatenating two DataFrames

In [34]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [35]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28   Amount  Class
30244  35838  1.181768  0.221370  0.032635  ...  0.018115 -0.004768     1.00    0.0
14919  26214 -3.543764 -2.415426  0.434704  ... -0.395121  0.439855   198.00    0.0
24618  33304 -0.402585  0.863226  1.678223  ...  0.253804 -0.025893    33.30    0.0
4951    4498 -2.922120 -0.266165  1.108301  ... -0.031512 -0.539735    96.96    0.0
34049  37491 -4.277853 -6.755229 -1.170772  ... -0.532888  0.403027  2425.35    0.0

[5 rows x 31 columns]

In [36]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
39183  39729 -0.964567 -1.643541 -0.187727  ... -0.308555 -0.164500  776.83    1.0
40085  40086  1.083693  1.179501 -1.346150  ...  0.096701  0.114972    1.00    1.0
40525  40276  1.159373  2.844795 -4.050680  ...  0.009979  0.160769    1.00    1.0
41395  40662 -4.446847 -0.014793 -5.126307  ...  0.492560  0.971834    1.00    1.0
41569  40742 -2.377533  0.520539 -8.094139  ...  0.500326  0.551760    1.00    1.0

[5 rows x 31 columns]

In [37]:
new_dataset['Class'].value_counts()

0.0    500
1.0    108
Name: Class, dtype: int64

In [38]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    27409.098000 -0.219143  0.122084  ... -0.002181  0.004091  79.572680
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874  93.512593

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [39]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [40]:
print(X)

        Time        V1        V2  ...       V27       V28   Amount
30244  35838  1.181768  0.221370  ...  0.018115 -0.004768     1.00
14919  26214 -3.543764 -2.415426  ... -0.395121  0.439855   198.00
24618  33304 -0.402585  0.863226  ...  0.253804 -0.025893    33.30
4951    4498 -2.922120 -0.266165  ... -0.031512 -0.539735    96.96
34049  37491 -4.277853 -6.755229  ... -0.532888  0.403027  2425.35
...      ...       ...       ...  ...       ...       ...      ...
39183  39729 -0.964567 -1.643541  ... -0.308555 -0.164500   776.83
40085  40086  1.083693  1.179501  ...  0.096701  0.114972     1.00
40525  40276  1.159373  2.844795  ...  0.009979  0.160769     1.00
41395  40662 -4.446847 -0.014793  ...  0.492560  0.971834     1.00
41569  40742 -2.377533  0.520539  ...  0.500326  0.551760     1.00

[608 rows x 30 columns]

In [42]:
print(Y)

30244    0.0
14919    0.0
24618    0.0
4951     0.0
34049    0.0
        ...
39183    1.0
40085    1.0
40525    1.0
41395    1.0
41569    1.0
Name: Class, Length: 608, dtype: float64

Split the data into Training data & Testing Data

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [44]:
print(X.shape, X_train.shape, X_test.shape)

(608, 30) (486, 30) (122, 30)

Training the model using Logistic Regression

In [45]:
model = LogisticRegression()

In [46]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

In [47]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

Projection of accuracy score

In [51]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9794238683127572

In [52]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [53]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9508196721311475